* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: url("https://images.unsplash.com/photo-1527657580387-0f1e1aeba8b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    min-height: 300px;
    background-position: center;
    background-size: cover;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(209, 202, 202);
    padding: 10px 5px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer div.name {
    font-size: 20px;
}

footer div.icons {
    display: flex;
}

footer div.icons i {
    margin: 0px 5px;
    font-size: large;
}

footer div.icons i:hover {
    cursor: pointer;
}

section.container {
    height: 300px;
    /* background-color: rgb(94, 134, 221); */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.todo {
    width: 400px;
    /* border: 5px solid orange; */
    height: 450px;
    color: white;
    font-size: larger;
    position: relative;
    bottom: 80px;
}

section.container div.todo div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;

}

section.container div.todo div.items {
    /* border: 3px solid yellow; */
    margin: 5px 10px;
    height: 85%;
    padding: 5px 10px;
}

section.container div.todo div.items div.item {
    display: flex;
    background-color: white;
    margin: 20px 0px;
}



div.todo div.items div.item input {
    flex-basis: 90%;
    font-size: 20px;
    border: none;
    background-color: transparent;

}

div.todo div.items div.item i {
    color: black;
    font-size: larger;
    position: relative;
    top: -3px;
    border: 5px;

}